# Ignore all python compiled files
__pycache__/
*.pyc

# Ignore all secrets
secrets/
**/.env*
**/.pem*

# Ignore updated artifacts
artifacts_75k/
archetypes_artifacts/

# Ignore data
*.db
*.csv
*.parquet
data/

# Ignore logs
*.log

cloudflared.deb
